.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100vw;
  min-height: 100vh;
  max-height: 100%;
  z-index: 9999;
  overflow: auto;
}

.modal > div {
  margin: 10vh auto;
  overflow: auto;
}

.modal > div > div {
  min-width: 100%;
  overflow: auto;
  max-height: 100%;
}
