.field {
  margin-left: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.fieldRow {
  display: flex;
  align-items: center;
  height: 75px;
}
