.modal {
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 0px;
    top: 0px;
    min-width: 100vw;
    min-height: 100vh;
    z-index: 9999;
}

.modal > div {
    margin: 10vh auto;
}

.modal > div > div {
    min-width: 100%;
}
