.modal {
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100vw;
    max-height: 100%;
    z-index: 9999;
    overflow: auto;
}

.modal > div {
    margin: 10vh auto;
    overflow: auto;
}

.modal > div > div {
    min-width: 100%;
    overflow: auto;
    max-height: 100%;
}
