.modal{
  z-index: 999;
  max-height: 74%;
}
.header{
  background-color: #0909f9;
  display: inline-flex;
  width: 100%;
  padding: 10px;
}

.title{
  text-decoration: none;
    text-align: center;
    font-size: 25px;
    color: #fff;
    padding: 0px 10px 0px 50px;
}

.rightmenu{
  text-align: right;
  margin: 0px 10px 0px 0px;
  width: 100%;

}

.cartbtn{
  background-color: #f4ff81;
  color: #336;
}
